site_name: Blueprints Docs
repo_url: https://github.com/mozilla-ai/document-to-podcast
repo_name: document-to-podcast

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Step-by-Step Guide: step-by-step-guide.md
  - Customization Guide: customization.md
  - Command Line Interface: cli.md
  - API Reference: api.md
  - Future Features & Contributions: future-features-contributions.md

theme:
  icon:
    repo: fontawesome/brands/github
  name: material
  palette:
    - scheme: default
      primary: "#005F6F"
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - scheme: slate
      primary: "#005F6F"
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  extra_css:
    - assets/custom.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

plugins:
- search
- mkdocstrings:
    handlers:
      python:
        options:
          show_root_heading: true
